In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [10]:
df.describe(include = 'category')

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

In [13]:
df.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [17]:
# 남성 흡연자의 tip 평균 & 수

c1 = df['sex'] == 'Male'
c2 = df['smoker'] == 'Yes'

In [18]:
df.loc[c1 & c2, 'tip'].mean()

np.float64(3.051166666666667)

In [20]:
df.loc[c1 & c2, 'tip'].count()

np.int64(60)

In [22]:
df['tip'].cumsum()

0        1.01
1        2.67
2        6.17
3        9.48
4       13.09
        ...
239    722.83
240    724.83
241    726.83
242    728.58
243    731.58
Name: tip, Length: 244, dtype: float64

In [24]:
df['tip'].cumprod()

0       1.010000e+00
1       1.676600e+00
2       5.868100e+00
3       1.942341e+01
4       7.011851e+01
           ...
239    8.213890e+104
240    1.642778e+105
241    3.285556e+105
242    5.749723e+105
243    1.724917e+106
Name: tip, Length: 244, dtype: float64

In [26]:
# var = [ (a1234... - a.mean) ** 2 ] 의 합 / a의 수 -1

In [30]:
total = ((df['tip'].values - df['tip'].values.mean()) ** 2).sum()
total_count = df['tip'].count() - 1

my_var = total / total_count

my_var

np.float64(1.914454638062471)

In [32]:
df['tip'].var()

np.float64(1.914454638062471)

In [34]:
np.sqrt(df['tip'].var())

np.float64(1.3836381890011822)

In [37]:
df['tip'].std()

np.float64(1.3836381890011822)

In [40]:
df['tip'].agg(['var', 'std'])

var    1.914455
std    1.383638
Name: tip, dtype: float64

In [42]:
df[['total_bill', 'tip']].agg(['max', 'min'])

     total_bill   tip
max       50.81  10.0
min        3.07   1.0

In [45]:
df['tip'].quantile(0.99)

np.float64(7.214499999999995)

In [47]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [49]:
df['day'].nunique()

4

In [51]:
df['day'].mode()

0    Sat
Name: day, dtype: category
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [54]:
df.corr(numeric_only = True)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [55]:
df.corr(numeric_only=True)['tip']

total_bill    0.675734
tip           1.000000
size          0.489299
Name: tip, dtype: float64